[submodule "AutoFileName"]
	path = AutoFileName
	url = git://github.com/BoundInCode/AutoFileName.git
[submodule "BracketHighlighter"]
	path = BracketHighlighter
	url = git://github.com/facelessuser/BracketHighlighter.git
[submodule "emmet-sublime"]
	path = emmet-sublime
	url = git://github.com/sergeche/emmet-sublime.git
[submodule "SublimeFileDiffs"]
	path = SublimeFileDiffs
	url = git://github.com/colinta/SublimeFileDiffs.git
[submodule "sublime-text-2-git"]
	path = sublime-text-2-git
	url = git://github.com/kemayo/sublime-text-2-git.git
[submodule "Sublime-Text-2-Goto-CSS-Declaration"]
	path = Sublime-Text-2-Goto-CSS-Declaration
	url = git://github.com/rmaksim/Sublime-Text-2-Goto-CSS-Declaration.git
[submodule "sublime_package_control"]
	path = sublime_package_control
	url = git://github.com/wbond/sublime_package_control.git
[submodule "SideBarEnhancements"]
	path = SideBarEnhancements
	url = git://github.com/titoBouzout/SideBarEnhancements.git
[submodule "Tag"]
	path = Tag
	url = git://github.com/SublimeText/Tag.git
[submodule "nexus-theme"]
	path = nexus-theme
	url = git://github.com/EleazarCrusader/nexus-theme.git
[submodule "Sublime-Wrap-Plus"]
	path = Sublime-Wrap-Plus
	url = git://github.com/ehuss/Sublime-Wrap-Plus.git
[submodule "SublimeLinter"]
	path = SublimeLinter
	url = git://github.com/SublimeLinter/SublimeLinter.git
