[submodule "AutoFileName"]
	path = AutoFileName
	url = git://github.com/BoundInCode/AutoFileName.git
[submodule "BracketHighlighter"]
	path = BracketHighlighter
	url = git://github.com/facelessuser/BracketHighlighter.git
[submodule "emmet-sublime"]
	path = emmet-sublime
	url = git://github.com/sergeche/emmet-sublime.git
